@use "sass:map";
@use "sass:list";

@mixin addTheme($name:"", $theme){
    @if $name==""{
        $name:"defaut";
        $cratssThemes:map.set($cratssThemes,"default",$theme) ;
    }@else{
        $cratssThemes:map.set($cratssThemes,$name,$theme) ;
    }
    
};

@function getTheme($name:"default"){
    
    @return map.get($cratssThemes,$name)
};

@function getThemes(){
    $list:();

    @each $key, $val in $cratssThemes{
        $list:list.append($list,$key);
    };

    @return $list;
};